$color-background: #eff0f5;
$color-link: #000000;
$color-light: #ffffff;

$header-content-width: 1920px;
$content-width: 1300px;
$tablet-width: 768px;
$mobile-big-width: 360px;
$mobile-small-width: 320px;
