.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-left__wrapper {
    display: flex;
    align-items: center;
    padding: 0 43px;
    @include media-hugemobile {
        // padding: 11px 12px;
        padding: 17px 12px 2px 12px;
    }

    @include media-mobile {
        // padding: 11px 12px;
        padding: 17px 12px 2px 12px;
    }
}

.logo-object {
    @include media-hugemobile {
        width: 60%;
    }

    @include media-mobile {
        width: 60%;
    }
}

.link {
    text-decoration: none;
    color: $color-link;
    @extend %font-regular;
    @include font(18px, 400, 22px);
    margin-right: 35px;

    @include media-hugemobile {
        display: none;
    }

    @include media-mobile {
        display: none;
    }
}


.header__link {
    padding: 0 17px 0px 0px;
}
